@import "normalize";
@import "variables";
@import "fonts";
@import "header";
@import "recipes";
@import "settings";
@import "book";
@import "recipe";
@import "empty";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style: none;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

@import "media";